/*a:link{color: #F23D4C;}      !* 未访问链接*!*/
/*a:visited {color: #f23d4c;}  !* 已访问链接 *!*/
/*a:hover {color:#F23D4C;}  !* 鼠标移动到链接上 *!*/
/*a:active {color:#F23D4C;}  !* 鼠标点击时 *!*/

/*a{*/
/*    text-decoration:none;*/
/*}*/

/*header{*/
/*    overflow: hidden;*/
/*}*/

/*.logo{*/
/*    height: 100px;*/
/*    margin-top: 30px;*/
/*    margin-left: 30px;*/
/*}*/

/*.logo_div{*/
/*    float: left;*/
/*}*/

/*.menu{*/
/*    width: 100%;*/
/*}*/

/*.menu ul{*/
/*    margin-left: 35em;*/
/*    margin-top: 70px;*/
/*    list-style: none;*/
/*    !*margin-right: 80px;*!*/
/*    color: #F23D4C;*/
/*    display: table;*/
/*}*/

/*.menu li{*/
/*    width: 160px;*/
/*    float: right;*/
/*    font-family: 'Raleway', sans-serif;*/
/*    color: #F23D4C;*/
/*    display: table-cell;*/
/*}*/

/*.button{*/
/*    display:inline;*/
/*}*/

/*.list{*/
/*    text-align:center;*/
/*}*/

.login{
    width:1200px;
    overflow: hidden;
}

.animation{
    width:300px;
    height:500px;
    float: left;
}

.animation img{
    max-height: 100%;
    max-width: 100%;
    margin-top: 137px;
    margin-left: 150px;
}

.form{
    width:600px;
    height:500px;
    float: right;
}

.form form{
    margin-top: 100px;
    margin-left: 200px;

}

#fname{
    width: 400px;
    height: 40px;
    border: 0px;
    outline:none;
    border-radius: 5px;
}

#username{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

#lname{
    width: 400px;
    height: 40px;
    border: 0px;
    outline:none;
    border-radius: 5px;
}

#password{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

#login{
    border: 0px;
    background:#F23D4C;
    color: white;
    width: 200px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-left: 100px;
    outline:none;
    border-radius: 5px;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
    -webkit-text-fill-color: #807c7c;
    transition: background-color 5000s ease-out 0.5s;
}
